.cartBanner{
    position: relative;
    width: 90vw;
    top: 30px;
    left: 5%;
    cursor: pointer;
}

.details-cart{
    border: 0;
    position: relative;
    padding: 15px;
    display: flex;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin-bottom: 25px; 
    border-radius: 6px;
}

img{
    max-width: 300px;
    width: 100%;    
}

.box{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    
}
.box-title{
    margin-top: 5px;
    margin-bottom: 5px;
}

.box-description{
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 8px;
    font-size: 20px;
}

.box-totalprice{
   padding-top: 5px;
}

.count{
    width: 30px;
    height: 30px;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
.quantity{
    margin-left: 5px;
    margin-right: 5px;
}

.delete{
    position: absolute;
    right: 0;
    margin: 2px 14px ;
    font-size: 20px;
    
}

@media (max-width: 770px){

 .details-cart{   
    display: flex;
    flex-direction: column;
    text-align: center; 
  }

  img{
    max-width: 90%;
    width: 100%;
}
.box-price,.box-totalprice,.box-description{
    font-size: 20px;
}
.box-description{
    line-height: 25px;
}


}